.login	
{
	width: 68px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: red;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
    float: right;
    text-align: center;

}